<div class="board">
<h1>Current player is {{ player }}</h1>
<button nbButton outline status="info" (click)="newGame()" class="new-game-btn" >
Start a new game
</button>

<h2 *ngIf="winner">Player {{ winner }} won the game!</h2>
<div class="score">
<button nbButton status="success">X:{{xCount}}
</button>
<button nbButton status="info">O:{{oCount}}
</button>
<!-- <nb-select placeholder="which player be first" formControl="selectedItemFormControl">
  <nb-option value="1">X first</nb-option>
  <nb-option value="2">O first</nb-option>
  <nb-option value="3">Random</nb-option>
</nb-select> -->
</div>
<main>
<app-square
  *ngFor="let val of squares; let i = index"
  [value]="val"
  (click)="makeMove(i)"
>
</app-square>
</main>
</div>